<div class="home__container">
    <app-card gameCover="assets/bt-1.jpg" gameLabel="Digital" gameType="DIGITAL | PS4" gamePrice="R$ 129,99"></app-card>
    <app-card gameCover="assets/bt-4.jpg" gameLabel="Exclusive" gameType="DISC | PS5" gamePrice="R$ 129,99"></app-card>
    <app-card gameCover="assets/bt-5.jpg" gameLabel="Digital" gameType="DIGITAL | PS5" gamePrice="R$ 129,99"></app-card>
    <app-card gameCover="assets/ac-cover.jpg" gameLabel="GOTY" gameType="DIGITAL | PSVITA" gamePrice="R$ 299,99"></app-card>
    <app-card gameCover="assets/bt-bad-company-2.jpg" gameLabel="DIGITAL" gameType="DIGITAL | PS4" gamePrice="R$ 299,99"></app-card>
    <app-card gameCover="assets/bt-hardline.jpg" gameLabel="DISC" gameType="DIGITAL | PS4" gamePrice="R$ 299,99"></app-card>
</div>