<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="assets/ps-logo.png" alt="playstation logo" width="140px" height="32px">
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="https://renan-augusto.github.io/meucv/" target="_blank">Site Pessoal</a></li>
            <li><a href="https://www.linkedin.com/in/renanmigliaris/" target="_blank">Linkedin</a></li>
            <li><a href="https://github.com/renan-augusto" target="_blank">GitHub</a></li>
        </ul>
    </div>
</div>