* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(90, 90, 147, 1) 35%,
		rgba(123, 123, 133, 1) 66%
	);
}
